.rbc-delete-icon {
    display: none;
    position: absolute;
    top: 2px;
    right: 2px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
}

.rbc-event:hover .rbc-delete-icon {
    display: block;
}
